html{
    font-size: 25px;
}
body{
    display:block;
    background-color:#f0ffff
}
.tac{
    text-align: center;
}
.tal{
    text-align: left;
}
.tar{
    text-align: right;
}
.content{
    background-color:#f0f8ff;
    width:80%;
    margin: 0 auto;
}
.dbox{
    margin: 2em;
    padding: 1em 3em;
    border: 1px solid #000;
}
p{
    text-indent: 1em;
}
.button_solid006 a {

    margin: 0 auto;
    max-width: 500px;
    padding: 6px 25px;
    background: #6bb6ff;
    color: #FFF;

    font-weight: 600;
    border-radius: 100px;
    box-shadow: 0 5px 0px #4f96f6, 0 10px 100px #4f96f6;
    text-decoration: none;
}
.button_solid006 a:hover{
  background:#FF2F2F;
  box-shadow: 0 5px 0px #B73434,0 7px 30px #FF2F2F;
}

.button_solid006 a:active{
  background:#FF8282;
  box-shadow: 0 0px 10px #FF8282;
  box-shadow: 0 5px 0px #CC6262,0 4px 10px #FF8282;
}
.w70p{
    width: 70%;
}
.cp{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button_solid019 a {
    justify-content: space-around;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
    text-decoration: none;
}
.button_solid019 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 46%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button_solid019 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}